* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Arimo', sans-serif;
  
    margin: 0;
    padding: 0;
}
  
h2, h3 {
    color: #3A59D1;
}
  
footer {
    padding: 20px;
    color: white;
    background-color: #3A59D1;
  
    text-align: center;
    font-weight: bold;
}
  
nav a {
    font-size: 18px;
  
    font-weight: 400;
    text-decoration: none;
  
    color: white;
}
  
nav a:hover {
    font-weight: bold;
}
  
.profile header {
    text-align: center;
}
  
.featured-image {
    width: 100%;
    max-height: 300px;
  
    object-fit: cover;
    object-position: center;
}
  
.profile img {
    max-width: 200px;
}

#slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgb(122, 198, 210);
    border-radius: 5px;
  
    padding: 20px;
    margin-top: 20px;
}
  
.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #3D90D7;
    text-align: center;
    color: white;
}
  
nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}
  
nav li {
    list-style-type: none;
}
  
nav {
    background-color: #3A59D1;
    padding: 5px; 
    position: sticky;
    top: 0;
}
  
.dropdown {
    position: relative;
}
  
.dropbtn::after {
    content: " ▼";
    font-size: 0.6em;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}
  
.dropdown-content a {
    color: #3A59D1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}
  
#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
}
  
aside {
    flex: 1;
}
  
header {
    display: inline;
}
  
@media screen and (max-width: 1200px) {
    main {
    flex-flow: column nowrap;
    }
    main aside {
    align-self: center;
    }
}
  
@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }
    main aside {
        align-self: stretch;
    }
}